@using ViewModelsLayer.Goods
@using Common

@model ViewModelsLayer.Sales.SaleReturnDto

@{
    ViewBag.Title = "Оформление возврата";
}

<h5>@ViewBag.Title</h5>

<div>
    Вы должны покупателю: @(Model.Refund.ToMoney())
</div>

@await Html.PartialAsync("_GoodsList", new PartialGoodsListModel(Model.GoodsItems, false))

<div>
    <h5>Подтверждение возврата</h5>
    <div>
        Заполните форму, чтобы оформить возврат
    </div>
    <form action="/sale/return" method="post">
        @Html.AntiForgeryToken()
        <div>
            <input id="refund-confirmation-checkbox" type="checkbox" name="refundConfirmation" value="true" />
            <label for="refund-confirmation-checkbox">Деньги возвращены клиенту</label>
        </div>
        <div>
            <input id="customers-confirmation-checkbox" type="checkbox" name="customerConfirmation" value="true" />
            <label for="customers-confirmation-checkbox">Клиент согласен оформить возврат</label>
        </div>
        <input type="hidden" name="saleId" value="@Model.SaleId" />
        <input type="submit" value="Оформить возврат" />
    </form>
    @await Html.PartialAsync("_ErrorsList", (IEnumerable<string>)ViewBag.Errors)
</div>