@model ViewModelsLayer.Sales.SalesSearchModel

@{
    ViewBag.Title = "Продажи";
}

<form asp-action="Search" method="get">
    <input asp-for="ResearchText" name="q" placeholder="Поиск..." />
    <span>
        <label for="min-date">Продано в промежутке с</label>
        <input id="min-date" asp-for="Filter.MinDate" name="minDate" type="datetime-local" />
        <label for="max-date">по</label>
        <input id="max-date" asp-for="Filter.MaxDate" name="maxDate" type="datetime-local" />
    </span>
    @{
#warning probably use <fieldset> tag here
    }
    <div>
        <label for="radio-sale-type">Тип продажи</label>
        <span id="radio-sale-type">
            <input id="radio-status-sold" type="radio" asp-for="Filter.Status" name="status" value="Sold" />
            <label for="radio-status-sold">Продано</label>
            <input id="radio-status-reserved" type="radio" asp-for="Filter.Status" name="status" value="Reserved" />
            <label for="radio-status-reserved">Зарезервировано</label>
            <input id="radio-status-returned" type="radio" asp-for="Filter.Status" name="status" value="Returned" />
            <label for="radio-status-returned">Возвращено</label>
        </span>
    </div>
    <div>
        <label for="radio-paid-by">Оплачено</label>
        <span id="radio-paid-by">
            <input id="radio-paid-by-card" type="radio" asp-for="Filter.PaidBy" name="paidBy" value="Cash" />
            <label for="radio-paid-by-card">Наличными</label>
            <input id="radio-paid-by-cash" type="radio" asp-for="Filter.PaidBy" name="paidBy" value="BankCard" />
            <label for="radio-paid-by-cash">Банковской картой</label>
        </span>
    </div>
    <div>
        <label for="radio-sales-order-by">Сортировать по</label>
        <span id="radio-sales-order-by">
            <input id="radio-sales-order-by-date" type="radio" asp-for="OrderBy.OrderBy" name="orderBy" value="Date" />
            <label for="radio-sales-order-by-date">Дате</label>
            <input id="radio-sales-order-by-goods-count" type="radio" asp-for="OrderBy.OrderBy" name="orderBy" value="GoodsUnitsCount" />
            <label for="radio-sales-order-by-goods-count">Количеству единиц товара</label>
        </span>
    </div>
</form>

<div class="results-count">
    Найдено: @Model.ResultsCount
</div>
@foreach (var sale in Model.Sales)
{
    <div class="mini-card">
        <div class="mini-card-left">
        </div>
        <div class="mini-card-right">
        </div>
    </div>
}