@using ViewModelsLayer.Goods

@model List<GoodsUnitSearchDto>

@if (Model.Count != 0)
{
    <h3>
        Добавлено товаров: @Model.Count
    </h3>
    await Html.RenderPartialAsync("_PartialGoodsList", Model);
}
<div class="total-cart-price">
    @if (Model.Count == 0)
    {
        <h3>Корзина пуста.</h3>
        <a href="@Url.Action("Search", "Goods")">Заполнить ее.</a>
    }
    else
    {
        <h3>
            Итого к оплате: @(Model.Aggregate(0, (total, dto) => total += dto.Price).ToMoney())
        </h3>
        <form asp-controller="Sales" asp-action="CreateSaleAsNotSold" method="post">
            <div>
                @{
#warning move it to the page of sale, because the reserve the sale does not need the payment method.
                }
                <label for="radio-paid-by-sale-arranging">Оплата</label>
                <span id="radio-paid-by-sale-arranging">
                    <input id="radio-paid-by-card-sale-arranging" type="radio" name="paidBy" value="Cash" checked />
                    <label for="radio-paid-by-card-sale-arranging">Наличными</label>
                    <input id="radio-paid-by-cash-sale-arranging" type="radio" name="paidBy" value="BankCard" />
                    <label for="radio-paid-by-cash-sale-arranging">Банковской картой</label>
                </span>
            </div>
            <input type="submit" value="Оформить продажу" />
        </form>
        <form asp-controller="Sales" asp-action="Reserve" method="post">
            <input type="submit" value="Зарезервировать покупку" />
        </form>
    }
</div>

@section Scripts {
    <script src="~/js/goodsList.js"></script>
}