@{
	ViewData["Title"] = "Home Page";
}

<div class="center">
	<form class="goods-search" asp-controller="Goods" asp-action="Search" method="get">
		<input class="goods-search" type="text" name="q" placeholder="Поиск..." autocomplete="off" />
	</form>

</div>
