
<h1>@(ViewData["Title"] = "Политика конфиденциальности")</h1>

<h4>Введение</h4>
Данная ИС разработана для персонала магазина музыкального оборудования с целью автоматизации процесса продажи товара. (Прим. так как продажа товара требует наличия товара в ИС, также был автоматизирован процесс управления запасами на складе в настолько минимальной степени, насколько этого требует процесс продажи товара. Также был автоматизирован процесс получения отчетности.)
 Подождите, данная ИС, фигурально выражаясь, не гэзэрит никакую инфу о юзерах, следовательно, политика конфиденциальности тут не нужна.