@model ViewModelsLayer.Stock.AddGoodsToWarehouseModel?

@{
#pragma warning disable 8602
}

<form asp-action="AddGoodsToWarehouse" method="post">
    <label>Наименование</label>
    <input asp-for="AddGoodsToWarehouseDto.GoodsName" />
    <div>
        <label for="new-goods-kind">Вид</label>
        <span id="new-goods-kind">
            <input id="new-goods-kind-mi" class="new-goods-kind-radio" type="radio" asp-for="AddGoodsToWarehouseDto.KindOfGoods" value="MusicalInstrument" />
            <label for="new-goods-kind-mi">Музыкальный инструмент</label>
            <input id="new-goods-kind-ac" class="new-goods-kind-radio" type="radio" asp-for="AddGoodsToWarehouseDto.KindOfGoods" value="Accessory" />
            <label for="new-goods-kind-ac">Аксессуар</label>
            <input id="new-goods-kind-aeu" class="new-goods-kind-radio" type="radio" asp-for="AddGoodsToWarehouseDto.KindOfGoods" value="AudioEquipmentUnit" />
            <label for="new-goods-kind-aeu">Аудиоаппаратура</label>
            <input id="new-goods-kind-sme" class="new-goods-kind-radio" type="radio" asp-for="AddGoodsToWarehouseDto.KindOfGoods" value="SheetMusicEdition" />
            <label for="new-goods-kind-sme">Нотное издание</label>
        </span>
        <div>
            <label>Тип</label>
            <span>
                @{
                    List<SelectListItem> items = [];
                    foreach (var specificType in Model.SpecificTypes)
                    {
                        items.Add(new SelectListItem(specificType, specificType));
                    }
                }
                <select asp-for="AddGoodsToWarehouseDto.SpecificType" asp-items="items"></select>
            </span>
        </div>
        <div>
            <label for="new-goods-price">Цена</label>
            <input id="new-goods-price" asp-for="AddGoodsToWarehouseDto.Price" type="number" />
        </div>
        <div>
            <label for="new-goods-status">Вид</label>
            <span id="new-goods-status">
                <input id="new-goods-status-ad" type="radio" asp-for="AddGoodsToWarehouseDto.Status" value="AwaitingDelivery" />
                <label for="new-goods-status-ad">Ожидает поставки</label>
                <input id="new-goods-status-is" type="radio" asp-for="AddGoodsToWarehouseDto.Status" value="InStock" />
                <label for="new-goods-status-is">На складе</label>
            </span>
        </div>
        <div>
            <label for="new-goods-description">Описание</label>
            <input id="new-goods-description" asp-for="AddGoodsToWarehouseDto.Description" />
        </div>
        <div>
            <label for="new-goods-quantity">Количество</label>
            <input id="new-goods-quantity" asp-for="AddGoodsToWarehouseDto.NumberOfUnits" type="number" />
        </div>
    </div>
    <div>
        Специфичные для вида данные
        <div id="specific-data">
            
        </div>
    </div>
    <input type="submit" action="post" value="Добавить" />
</form>
@{
#pragma warning restore 8602
}