@{
	ViewBag.Title = "Панель администратора";
}

<form asp-controller="Goods" asp-action="Backup" method="POST">
    <label for="backupPath">Укажите путь (опционально):</label>
    <input name="backupPath" id="backup-path" style="width:350px;" placeholder="Путь для резервной копии" />
    <br>
    <button type="submit">Сделать резервную копию</button>
</form>
<br>
<br>

@{
    await Html.RenderPartialAsync("_UsersListWithActions");
}