@{
    ViewBag.Title = "Панель администратора";
}

<form asp-controller="AdminPanel" asp-action="Backup" method="get">
    <div>
        <label for="backup-directory-path">Укажите директорию (опционально):</label>
        @{
#warning style
#warning ajax
        }
        <input name="backupDirectoryPath" id="backup-directory-path" style="width:350px;" placeholder="Путь для резервной копии" />
        <h6>
            Пример директории: C:/sql/backups
        </h6>
    </div>
    <input type="submit" value="Сделать резервную копию" />
</form>
<br>
<br>

@{
    await Html.RenderPartialAsync("_UsersListWithActions");
}