html {
    font-size: 14px;
}

html {
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
    margin-bottom: 60px;
}

input.goods-search, form.goods-search {
    /*margin: auto;*/
}

table.all-users {
    width: 100%;
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse
}

/*table.all-users ~ tr ~ td {
    padding-inline: 10px;
}*/

tr:nth-child(even) {
    background-color: cyan;
}

table.all-users tr {
    /*cursor: pointer;*/
}

div.update-user-errors {
    color: red;
}

.mini-card,
search {
    clear: both;
    border: 2px solid black;
    padding: 10px;
    /*height: 150px;*/
}

.mini-card {
    margin-block: 10px;
}

    .mini-card:after {
        content: "";
        display: table;
        clear: both;
    }

.mini-card-left {
    float: left;
    width: 80%;
    height: 100%;
}

.mini-card-right {
    float: right;
    width: 20%;
    height: 100%;
}

div.search-results {
}

div.adding-removing-results {
    height: 20%;
}

div.goods-related-to-sale {
    width: 100%;
}

div.goods-unit-related-to-sale {
    width: 100%;
}

    div.goods-unit-related-to-sale > a {
        display: block;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

input.add-remove-cart-button {
    width: 100%;
    height: 100%;
}

form.mini-card-add-remove {
    height: 80%;
}

hr.narrow {
    /*clear: both;*/
    height: 1px;
}

#create-backup-form {
    display: inline;
    padding-bottom: 50px;
}

.roles-list,
.mini-cards {
    list-style: none;
}

.error {
    color: red;
}

/* TODO red validation errors */
