@using DataLayer.Models
@using Microsoft.AspNetCore.Identity
@using ConstNames

@inject SignInManager<AppUser> signInManager
@inject UserManager<AppUser> userManager

@if (signInManager.IsSignedIn(User))
{
	var currentUser = await userManager.GetUserAsync(User);
	var isAdmin = currentUser != null && await userManager.IsInRoleAsync(currentUser, CommonNames.AdminRole);
	if (isAdmin)
	{
		<li class="nav-item">
			<a class="nav-link text-dark" asp-controller="AdminPanel" asp-action="Index">
				Панель администратора
			</a>
		</li>
	}
}