@{
    ViewBag.Title = "Панель администратора";
}

@await Html.PartialAsync("_UsersListWithActions")

@* <form asp-controller="Admin" asp-action="CreateUser" method="get">
    <input type="submit" value="Создать пользователя" />
</form> *@

@section Scripts {
    <script src="~/js/users.js"></script>
}